
#blockchain{
	background:#f5f6f9;
	padding:50px 359px;
	overflow:hidden;
	.content{
		overflow:hidden;
		.content-box1{
			float: left;
			min-height: 1px;
			width: 732px;
			margin-right:15px;
			img~img{
				margin-top:30px;
			}
		}
		.content-box2{
			float: left;
			min-height: 1px;
			width: 437px;
			img~img{
				margin-top:30px;
			}
		}
	}
}
@media (max-width: 992px){
    .container{
        width:100%;
	}
	.box1,.box2{
		height:350px;
	}
}
.row{
	margin: 0;
	padding: 0;
}
@media (max-width: 768px){
	#blockchain{
		padding:0;
		.content{
			.content-box1{
				float: left;
				min-height: 1px;
				width: auto;
				margin-right:0;
			}
			.content-box2{
				float: left;
				min-height: 1px;
				width: auto;
			}
		}
	}
}

.row{
	margin: 0;
	padding: 0;
}
