#footer{
    background:#223668;
    .footer-content{
        width:1199px;
        margin: 0 auto;
        .footer-list{
            color:#9ba6c2;
            font-size: 16px;
            overflow:hidden;
            font-weight: 700;
            ul~ul{
                margin-left: 200px;
            }
            ul{
                list-style:none;
                float:left;
                padding:70px 0 0 0;
                li{
                    line-height: 40px;
                    &:first-child{
                        color:#fff;
                    }
                }
            }
        }
    }
    .footer-bottom{
        height:80px;
        line-height: 80px;
        color:#9ba6c2;
        span:nth-child(1){
            float:left;
        }
        span:nth-child(2){
            float:right;
        }
    }
}
@media (max-width: 769px){
	#footer{
        .footer-content{
            width:auto;
            margin: 0 auto;
            .footer-list{
                color:#9ba6c2;
                font-size: 14px;
                overflow:hidden;
                font-weight: 700;
                padding: 0 10px;
                ul~ul{
                    margin:0;
                }
                ul{
                    list-style:none;
                    float:left;
                    padding:30px 0 0 0;
                    width:50%;
                    li{
                        line-height: 20px;
                        &:first-child{
                            color:#fff;
                        }
                    }
                    &:nth-of-type(1){
                        float:left;
                    }
                    &:nth-of-type(2){
                        float:right;
                    }
                    &:nth-of-type(3){
                        float:left;
                    }
                    &:nth-of-type(4){
                        float:right;
                    }
                }
            }
        }
        .footer-bottom{
            height:40px;
            line-height: 40px;
        }
}
}